<!DOCTYPE html>
html(lang="zh-Hant-TW")
    head
        include ./partials/_head.jade
        block title
    body
        block navbar
        .container
            block content
        script(src="js/vendors.js")
        script(src="js/all.js")